*{
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    margin: 0 auto;
}


#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background: #FFC107;
  text-align: center;
}

#home {
  width: 100%;
}

#container {
  width: 85%;
  height: 100%;
  float: right;
}
#menu-lateral {
  width: 15%;
  height: 700px;
  background: #535353;
  display: inline-block;
}

#sedes {
  margin: 20px;
}

#menu-superior {
  outline: 1px solid red;
  height: 30px;
}

#menu-superior h2{
  float: left;
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 20px;
}

#menu_students {
  outline: 1px solid red;
  height: 30px;
  margin-top: 7px;
}

#menu_students h2{
  float: left;
  display: inline-block;
  margin: 0 0 0 490px;
  font-size: 20px;
}

/*secciones contenedor de solapas*/
.contenedor{
  width: 100%;
  margin: 0 auto;
  display: block;
}
/*Cambios titulo y p*/
#seccionInicial{
  font-size: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

#seccionInicial p {
  font-size: 20px;
  font-family: 'Arial', sans-serif;

}
/*modifico contenedor solapas*/
#seccionContenido .contenedorTabs{
  width: 100%;
  color: white;
  font-size: 15px;
  border-bottom: grey solid 1px;
}

input #myInput{ 
  
}



/* las solapas como tal*/
.tab {
  color: #0D0D0D;
  background-color: yellow;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  border-radius: 5%;
  border-bottom: none;
  padding: 10px;
  width: 100px;
}

/*modifica li de solapas*/
.contenedorTabs li{
  list-style: none;
  display: inline-block;
}

/*modifica item x item las alumnas*/
#myUl li{
  list-style: none;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  padding: 80px;
  border: grey solid 1px;
  width: 90%;
  height: 20%;
  float: left;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 90px;
}

/*modifica los últimos li de la lista*/
/*para darle padding*/


/*modifica los em de la lista*/
#myUl li em{
  font-weight: normal;
  font-size: 15px;
  float: left;
  display: inline-block;
  margin-top: 5px;

}

/*img perfil alumna*/
#myUl img{
  height: 8%;
  width: 8%;
  float: left;
  padding: 5px;
  margin-top: -75px;
  margin-left: -145px;
  display: inline-block;
}

/*img resumen de skills*/
#skills img{
  height: 60%;
  width: 60%;
  float: right;
  margin-top: 5px;
  display: inline-block;
}

/*modifica li de solapas*/
.divTexto {
  padding-left: 36px;
}

/*modifica contenedor textos*/
.divTexto h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.divTexto h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

footer{
  width: 100%;
  height: 10%;
  background-color: black;
  padding: 0 auto; 
  display: inline-block; 
}

 #top input{
  display: block;
  padding : 5px auto;
  margin: 160px auto;
  margin-left: 1000px;
  position: fixed;
  background-color: yellow;
}
  
  